/node_modules/
/src/lunr.min.js
/dist/*
/src/*.json
/tmp/
/src/*.css
/src/*/
/src/index.html
/src/search/index.html
/error_docs/
/tmp-error_docs/
/images/**/*.br
/images/**/*.gz
/vendor/
/app/*-auth.json
/.php_cs.cache
/app/captions/
/app/cache.json
/app/topics-satisfactory.json
/app/lunr/
/app/cache-injection.json
/app/topics-nested.json
/app/data/api-cache/
/app/data/all-topic-slugs.json
/app/data/video-id-by-topic.json
/11ty/data/faq.json
/11ty/data/transcriptions.json
/11ty/data/topicStrings.json
/11ty/data/topics.json
/app/data/play.json
