---
pagination:
    data: dated_alt
    size: 1
    alias: group
permalink: "{{ group.date }}/"
layout: livestream
---
{% for external in group.externals %}
<section
	itemscope
	itemtype="https://schema.org/VideoObject"
>
	<header>
		<h1>{{
			group.date_friendly
		}} <span itemprop="name">{{
			external.title
		}}</span></h1>
			<p><a href="{{external.contentUrl}}" rel="noopener" target="_blank">External Link</a></p>
{% if group.date in community_highlights %}
		<p>Community Highlights: <a href="https://communityhighlights.satisfactory.video/dated/{{group.date}}/">archive</a>,
{% for highlights in community_highlights[group.date] %}
			<a href="{{highlights.link}}" title="VOD for {{highlights.title}}"><abbr title="Video on Demand">VOD</abbr></a>
{% endfor %}
		</p>
{% endif %}
	</header>
	{% if external.description %}
	<details>
		<summary>Description</summary>
		<section>{{external.description | markdownify | safe}}</section>
	</details>
	{% endif %}
	<ol>
	{% for subsection in external.sections %}
		{% include 'externals-alt-inner.njk' %}
	{% endfor %}
	</ol>
	<meta itemprop="contentUrl" content="{{external.contentUrl}}">
	{% if external.description %}
	<meta itemprop="description" content="{{external.description}}">
	{% else %}
	<meta itemprop="description" content="clips from {{external.title}}">
	{% endif %}
	<meta itemprop="uploadDate" content="{{group.date}}">
	{% if external.thumbnail %}
	<meta itemprop="thumbnailUrl" content="{{external.thumbnail}}">
	{% endif %}
</section>
{% endfor %}
{% include 'internals.njk' %}
