{% if subsection %}
{% set section = subsection %}
{% endif %}
<section itemprop="hasPart" itemscope itemtype="https://schema.org/Clip">
	<header>
		<h1>
			<a
				href="{{section.link}}"
				rel="nooppener"
				target="_blank"
			>{{section.title}}</a></h1>
	</header>
{% if section.is_all_section %}
	{% for subsection in section.subsection %}
		{% include 'externals-alt.njk' %}
		{% set subsection = null %}
	{% endfor %}
{% else %}
	<ol>
	{% for subsection in section.subsections %}
		{% include 'externals-alt-inner.njk' %}
		{% set subsection = null %}
	{% endfor %}
	</ol>
{% endif %}
	<meta itemprop="startOffset" content="{{subsection.start}}">
	{% if subsection.end %}
	<meta itemprop="endOffset" content="{{subsection.end}}">
	{% endif %}
</section>
