		{% if subsection.is_section %}
			<li>
				{% include 'externals-alt.njk' %}
				{% set subsection = null %}
			</li>
		{% else %}
			<li itemprop="hasPart" itemscope itemtype="https://schema.org/Clip">
				{% if subsection.highlight_channel_source %}
				{% if 'CSS' === subsection.highlight_channel_source %}
					<abbr title="This clip is on the Coffee Stain Studios channel">(CSS)</abbr>
				{% elseif 'SCA' === subsection.highlight_channel_source %}
					<abbr title="This clip is on the Satisfactory Clips Archive channel">(SCA)</abbr>
				{% endif %}
				{% endif %}
				{% if '/embed/' in subsection.link %}
				<a
					rel="noopener"
					target="_blank"
					href="{{subsection.timestamp_link}}"
					itemprop="url"
				>{{subsection.started_formated}}</a>
				{% else %}
				<a
					rel="noopener"
					target="_blank"
					href="{{subsection.link}}"
					itemprop="url"
				>{{subsection.started_formated}}</a>
				{% endif %}
				{% if subsection.has_captions %}<a
					itemprop="url"
					href="{{subsection.has_captions}}"
				>{% endif %}<span itemprop="name">{{subsection.title}}</span>{%
					if subsection.has_captions
				%}</a>{% endif %}
				<meta itemprop="startOffset" content="{{subsection.start}}">
				{% if subsection.end %}
				<meta itemprop="endOffset" content="{{subsection.end}}">
				{% endif %}
			</li>
		{% endif %}
