<footer>
	<h1>Q&amp;A Clips Archive</h1>
	<p>Serves as an unofficial archive for Q&amp;A Clips for Coffee Stain Studio&#39;s Satisfactory-related livestreams.</p>
	<p>&copy; SignpostMarv 2021</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/Satisfactory-Clips-Archive/video-clip-notes/issues"
		>Report issues with/ make suggestions for transcriptions &amp; other data</a>
		or
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/Satisfactory-Clips-Archive/Media-Search-Archive/issues"
		>report issues with/ make suggestions for this tool</a>.</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://www.twitch.tv/coffeestainstudiosdevs"
		>Official Twitch Livestreams</a></p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://discord.com/invite/satisfactory"
		>Official Discord</a></p>
</footer>
