<meta property="og:title" content="{{title}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta
	name="description"
	content="Serves as an unofficial archive for Q&A Clips for Coffee Stain Studio's Satisfactory-related livestreams"
>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/common.css">
<link rel="stylesheet" href="/browse.css">
