{% for internal in group.internals %}
<section
>
	<header>
	<h1>{{internal.title}}</h1>
	{% if internal.contentUrl %}
		<p><a href="{{internal.contentUrl}}" rel="noopener" target="_blank">External Link</a></p>
{% if group.date in community_highlights %}
		<p>Community Highlights: <a href="https://communityhighlights.satisfactory.video/dated/{{group.date}}/">archive</a>,
{% for highlights in community_highlights[group.date] %}
			<a href="{{highlights.link}}" title="VOD for {{highlights.title}}"><abbr title="Video on Demand">VOD</abbr></a>
{% endfor %}
		</p>
{% endif %}
	{% endif %}
	</header>
	{% for category in internal.categorised %}
		{% if category.depth === 0 %}
			<h2><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h2>
		{% elseif category.depth === 1 %}
			<h3><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h3>
		{% elseif category.depth === 2 %}
			<h4><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h4>
		{% elseif category.depth === 3 %}
			<h5><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h5>
		{% else %}
			<h6><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h6>
		{% endif %}
		<ul>
		{% for clip in category.clips %}
			<li>
				{% if clip[1] %}
					<a href="../transcriptions/{{clip[1]}}/">{{clip[0]}}</a>
				{% else %}
					{{clip[0]}}
				{% endif %}
				<a
					rel="noopener"
					target="_blank"
					href="{{clip[2]}}"
				>{{clip[2]}}</a>
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
	{% if internal.uncategorised.clips.length > 0 %}
	<h2>Uncategorised</h2>
	<ul>
		{% for clip in internal.uncategorised.clips %}
			<li>
				{% if clip[1] %}
					<a href="../transcriptions/{{clip[1]}}/">{{clip[0]}}</a>
				{% else %}
					{{clip[0]}}
				{% endif %}
				<a
					rel="noopener"
					target="_blank"
					href="{{clip[2]}}"
				>{{clip[2]}}</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
</section>
{% endfor %}
