---
pagination:
    data: dated
    size: 1
    alias: group
permalink: "{{ group.date }}/"
layout: livestream
---
{% for external in group.externals %}
<section
	itemscope
	itemtype="https://schema.org/VideoObject"
>
	<header>
	<h1>{{
		group.date_friendly
	}} <span itemprop="name">{{
		external.title
	}}</span></h1>
		<p><a href="{{external.contentUrl}}" rel="noopener" target="_blank">External Link</a></p>
	</header>
	<ol>
	{% for line in external.embed_data %}
		<li itemprop="hasPart" itemscope itemtype="https://schema.org/Clip">
			<a
				rel="noopener"
				target="_blank"
				href="{{line.link}}"
				itemprop="url"
			>{{line.started_formated}}</a>
			{% if line.has_captions %}<a
				itemprop="url"
				href="{{line.has_captions}}"
			>{% endif %}<span itemprop="name">{{line.title}}</span>{%
				if line.has_captions
			%}</a>{% endif %}
			<meta itemprop="startOffset" content="{{line.start}}">
			{% if line.end %}
			<meta itemprop="endOffset" content="{{line.end}}">
			{% endif %}
		</li>
	{% endfor %}
	</ol>
	<meta itemprop="contentUrl" content="{{external.contentUrl}}">
	{% if external.description %}
	<meta itemprop="description" content="{{external.description}}">
	{% else %}
	<meta itemprop="description" content="clips from {{external.title}}">
	{% endif %}
	<meta itemprop="uploadDate" content="{{group.date}}">
	{% if external.thumbnail %}
	<meta itemprop="thumbnailUrl" content="{{external.thumbnail}}">
	{% endif %}
</section>
{% endfor %}
{% for internal in group.internals %}
<section
>
	<header>
	<h1>{{internal.title}}</h1>
	{% if internal.contentUrl %}
		<p><a href="{{internal.contentUrl}}" rel="noopener" target="_blank">External Link</a></p>
	{% endif %}
	</header>
	{% for category in internal.categorised %}
		{% if category.depth === 0 %}
			<h2><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h2>
		{% elseif category.depth === 1 %}
			<h3><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h3>
		{% elseif category.depth === 2 %}
			<h4><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h4>
		{% elseif category.depth === 3 %}
			<h5><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h5>
		{% else %}
			<h6><a
				href="../topics/{{category.slug}}"
			>{{category.title}}</a></h6>
		{% endif %}
		<ul>
		{% for clip in category.clips %}
			<li>
				{% if clip[1] %}
					<a href="../transcriptions/{{clip[1]}}/">{{clip[0]}}</a>
				{% else %}
					{{clip[0]}}
				{% endif %}
				<a
					rel="noopener"
					target="_blank"
					href="{{clip[2]}}"
				>{{clip[2]}}</a>
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
	{% if internal.uncategorised.clips.length > 0 %}
	<h2>Uncategorised</h2>
	<ul>
		{% for clip in internal.uncategorised.clips %}
			<li>
				{% if clip[1] %}
					<a href="../transcriptions/{{clip[1]}}/">{{clip[0]}}</a>
				{% else %}
					{{clip[0]}}
				{% endif %}
				<a
					rel="noopener"
					target="_blank"
					href="{{clip[2]}}"
				>{{clip[2]}}</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
</section>
{% endfor %}
