---
title: Statistics
date: Last Modified
---
<section
>
	<table>
		<caption>{{title}}</caption>
		<thead>
			<tr>
				<th>Statistic</th>
				<th colspan="2">Progress / Count</th>
			</tr>
		</thead>
		<tbody>
{% for statistic in statistics %}
			<tr>
				<th scope="row">{{statistic.title}}</th>
{% if ('count' in statistic) %}
				<td colspan="2">{{statistic.count}}</td>
{% else %}
				<td title="Percentage">{{statistic.percentage}}%</td>
				<td><progress value="{{statistic.progress}}"></progress></td>
{% endif %}
			</tr>
{% endfor %}
		</tbody>
	</table>
	<section>
		<h1>Total Clips per day <abbr title="versus">vs.</abbr> Questions per day.</h1>
		{{ ' ../../11ty/charts/stats.svg' | svgContents | safe }}
	</section>
	<style>
	svg
	{
		background: #e5e7f1;
		width: 100% ;
		max-height: 40vh ;
	}

	@media (prefers-color-scheme: dark)
	{
		svg
		{
			background: #828282 ;
		}
	}

	th:first-child
	{
		text-align: right ;
	}
	th,
	td
	{
		padding: .25rem ;
	}
	</style>
</section>
