---
pagination:
    data: tweets
    size: 1
    alias: thread
permalink: "transcriptions/{{ thread.id }}/"
layout: twitter-thread
---
<h1 itemprop="headline name">{{thread.title}}</h1>
{% for tweet in thread.tweets %}
<article itemprop="itemListElement" itemscope itemtype="https://schema.org/SocialMediaPosting">
	<section itemprop="articleBody">{{tweet | tweet | safe}}</section>
	<footer>
		<p itemprop="author" itemscope itemtype="https://schema.org/Person">
			<a
				rel="noopener"
				target="_blank"
				href="{{tweet.author_url}}"
				itemprop="url"
			>@<span itemprop="name" title="{{tweet.author_name}}">{{tweet.author_username}}</span></a>
		</p>
	</footer>
</article>
{% endfor %}
