<IfModule mod_headers.c>
  # Serve brotli compressed JSON files if they exist and the client accepts gzip.
  RewriteCond %{HTTP:Accept-encoding} br
  RewriteCond %{REQUEST_FILENAME}\.br -s
  RewriteRule ^(.*)\.json $1\.json\.br [QSA]

  # Serve gzip compressed JSON files if they exist and the client accepts gzip.
  RewriteCond %{HTTP:Accept-encoding} gzip
  RewriteCond %{REQUEST_FILENAME}\.gz -s
  RewriteRule ^(.*)\.json $1\.json\.gz [QSA]

  # Serve correct content types, and prevent mod_deflate double gzip.
  RewriteRule \.json\.gz$ - [T=application/json,E=no-gzip:1]
  RewriteRule \.json\.br$ - [T=application/json,E=no-gzip:1]

  <FilesMatch "(\.json\.gz)$">
    # Serve correct encoding type.
    Header set Content-Encoding gzip
    # Force proxies to cache gzipped & non-gzipped files separately.
    Header append Vary Accept-Encoding
  </FilesMatch>
  <FilesMatch "(\.json\.br)$">
    # Serve correct encoding type.
    Header set Content-Encoding br
    # Force proxies to cache gzipped & non-gzipped files separately.
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>
