<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% if '/topics/' === page.url %}Q&amp;A Clips Archive - {% endif %}{{title}}</title>
{% include 'head.njk' %}
<meta property="og:article:modified_time" content="{{page.date.toUTCString()}}">
</head>
<body>
<header>
	<h1>{% if '/topics/' === page.url %}Q&amp;A Clips Archive - {% endif %}{{title}}</h1>
{% include 'nav.njk' %}
</header>
<main>{{content | safe}}</main>
{% include 'footer.njk' %}
</body>
</html>
