<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Q&amp;A Clips Archive Search - Browse</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta
	name="description"
	content="Searchable archive of clips indexed on https://github.com/SignpostMarv/twitch-clip-notes/"
>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/browse.css">
</head>
<body>
<header>
	<h1>Q&A Clips Archive Search - Browse</h1>
	<nav>
		<a
			href="/"
		>Search Index</a>
		<a
			href="/satisfactory/"
		>Browse Index</a>
		<a
			href="/satisfactory/topics/"
		>Browse Topics</a>
	</nav>
</header>
<main>{{content | safe}}</main>
<footer>
	<h1>Q&A Clips Archive Search</h1>
	<p>&copy; SignpostMarv 2021</p>
	<p>Searchable archive of clips indexed on&nbsp;
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/SignpostMarv/twitch-clip-notes/"
		>twitch-clip-notes at GitHub</a>.</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/SignpostMarv/twitch-clip-notes/issues"
		>Report issues with/ make suggestions for transcriptions & other data</a>
		&nbsp;
		or
		&nbsp;
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/SignpostMarv/media-search-archive/issues"
		>report issues with/ make suggestions for this tool</a>.</p>
</footer>
</body>
</html>
