<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Q&amp;A Clips Archive - Browse</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta
	name="description"
	content="Serves as an unofficial archive for Q&A Clips for Coffee Stain Studio's Satisfactory-related livestreams"
>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/common.css">
<link rel="stylesheet" href="/browse.css">
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "WebSite",
	"url": "https://clips.satisfactory.signpostmarv.name/",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "https://clips.satisfactory.signpostmarv.name/search.html?q={search_term_string}",
		"query-input": "required name=search_term_string"
	}
}
</script>
</head>
<body>
<header>
	<h1>Q&amp;A Clips Archive - Browse</h1>
	<nav>
		<a
			href="/"
		>Browse Index</a>
		<a
			href="/topics/"
		>Browse Topics</a>
		<a
			href="/search.html"
		>Search Index</a>
	</nav>
</header>
<main>{{content | safe}}</main>
<footer>
	<h1>Q&amp;A Clips Archive</h1>
	<p>&copy; SignpostMarv 2021</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/SignpostMarv/twitch-clip-notes/issues"
		>Report issues with/ make suggestions for transcriptions &amp; other data</a>
		or
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/SignpostMarv/media-search-archive/issues"
		>report issues with/ make suggestions for this tool</a>.</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://www.twitch.tv/coffeestainstudiosdevs"
		>Official Twitch Livestreams</a></p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://discord.com/invite/satisfactory"
		>Official Discord</a></p>
</footer>
</body>
</html>
