<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Q&amp;A Clips Archive - {{title}}</title>
{% include 'head.njk' %}
<meta property="og:article:published_time" content="{{date}}">
</head>
<body>
<header>
	<h1>Q&amp;A Clips Archive - Browse</h1>
{% include 'nav.njk' %}
</header>
<main>{{content | safe}}</main>
{% include 'footer.njk' %}
</body>
</html>
